@if (Model["category-tasks"].Count != 0)
{
  <div class="well">
      <h2>Tasks:</h2>
      <ul>
        @foreach(var task in Model["category-tasks"])
        {
          <li><a href='/category/@Model["this-category"].Id/task/@task.Id'>@task.Name</a></li>
        }
      </ul>
  </div>
  <form action='/category/@Model["this-category"].Id/clear' method="post">
      <button class="btn" type="submit" name="button">Clear All Tasks</button>
  </form>
}
