<h3>Add a task for @Model["this-category"].Name!</h3>
<form id="add-task" action="/category/@Model["this-category"].Id/task/new" method="post">
    <div id="task-name-wrapper" class="form-group">
        <label class="form-label" for="task-name">Task</label>
        <input class="form-control" id="task-name" name="task-name" type="text" autofocus required>
    </div>
    <div id="task-description-wrapper" class="form-group">
        <label class="form-label" for="task-description">Description</label>
        <textarea class="form-control" id="task-description" name="task-description" required></textarea>
    </div>
    <div class="form-group">
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="submit" name="button"><a href="/">Go Back</a></button>
    </div>
</form>
