@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h1>Make A To-Do List!</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        @Html.Partial("TaskForm")
      </div>
      <div class="col-md-6">
        @Html.Partial("TaskList")
      </div>
    </div>
    <div class="row">
      @Html.Partial("TaskSelected")
    </div>
</div>
